* {
    box-sizing: border-box;
}
html {
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: url("/boxingTrain/background.jpg") center no-repeat;
    background-size: cover;
}
.container {
    width: 100%;
    height: 100%;
}
.punch-container {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 400;
}
img {
    position: absolute;
    transform: perspective(800px) translateZ(-800px);
    transition: all 1s;
    z-index: 450;
    /*   animation: punch 1s infinite */
}
.video-container {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
video {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    transform: rotateY(180deg);
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.hit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff9b8e;
    opacity: 0;
    z-index: 900;
}
.hit-overlay.hit {
    animation: hit 0.5s ease-out;
}
.button-area {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
}

@keyframes hit  {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
